@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #adc2c6;
  color: white;
}

h1 {
  @apply font-Poppins;
}

h2 {
  @apply font-Poppins;
}

a {
  @apply font-Poppins;
}

span {
  @apply font-Poppins;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  @apply h-1.5 w-1.5;
}

::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-black/40 transition-colors;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  @apply bg-black/60;
}
